* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  --type-first: Helvetica, Arial, sans-serif;
  -type-second: 'Sectral', Georgia;
  font-family: var(--type-first);
  color: #333;
  font-size: 1rem;

  list-style: none;
}

img {
  display: block;

  max-width: 100%;
}

button,
input {
  display: block;
}

.container {
  max-width: 50rem;

  padding: 0 1rem;
  margin: 0 auto;
}
